@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>¡Gracias por su compra!</h3>
<p>Se le descontó Bs.@ViewBag.total</p>
<a asp-controller="principal" asp-action="index">Regresar a la página principal</a>